body{
    margin: 20px;
    background-color:white;
}
.form-container{
    max-width: 600px;
    margin: auto;
    background: gray;
    background-image: url("pexels-m-venter-792254-1659438.jpg");
    background-position: top;
    background-size: cover;
    padding: 20px;
    border-radius: 8px;

}
.form-container h1{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.form-group{
    margin-bottom: 15px;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;

}
.form-group input, .form-group textarea, .form-group select{
    width: 95%;
    padding: 8px;
    border: 1px solid wheat;
    border-radius: 4px;
    color: white;
}
.form-group textarea{
    resize: vertical;
    height: 100px;
}
.form-group button{
    margin-left:40%;
    text-align: center;
    width: 100px;
    color: black;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
